<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>



<div class="container" ng-show="page === 'video'">
  <div class="row">
    <div class="col-lg-12">
      
      <div class="container ng-scope" ng-hide="isLoggedIn()">
        <h2>Please Log in to post comments</h2>
        <a href="/login">/login</a>  
      </div>
      
      
      <div id="ViewVideo" class="container ng-scope" ng-controller="MainCtrl">
        {{ post.up_vote.length }} <a href="#" ng-click="up_vote_post(post._id)" >up</a> | 
        {{ post.down_vote.length }} <a href="#" ng-click="down_vote_post(post._id)">down</a>
        <p>{{ post.up_vote}} : {{ post.down_vote }} :: -- Placeholder {{ post.urlid}} - {{ videoId }}</p>
        <youtube-video video-url="tubeVideo"></youtube-video>
        <button ng-show="isLoggedIn() || post.user == user._id" class="btn btn-default" ng-click="deletePost( post._id )">Delete</button>
        
        <h2 ng-show="deletedPost">Post has been deleted!</h2>
        

      
      

       
      </div>
      
      
    </div>
  </div>
  <div class="row" ng-controller="CommentCtrl">
    
    
      <div id="CommentForm" class="container ng-scope col-lg-12" ng-show="isLoggedIn()">
        <form class="ng-pristine ng-invalid ng-invalid-required" novalidate="" name="comment_form">
          <div class="form-group">
            <input id="comment_input" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required="" placeholder="Comment..." ng-model="comment">
          </div>

          <div class="form-buttons">
            <button class="btn btn-success" ng-disabled="comment_form.$invalid" ng-click="submit_comment()" type="submit">Submit</button>
          </div>
        </form>
      </div>
      
    
    <div class="col-lg-12" ng-repeat="com in comments track by $index">
      <div class="col-1g-3">
        <a ng-click="up_vote_comment($index)">{{ com.up_vote.length }} up</a> | 
        <a ng-click="down_vote_comment($index)">{{ com.down_vote.length }} down</a> | {{com.up_vote}}
      </div>
      <div class="col-1g-9">
        <p id="comment"> {{com.comment}} -- {{com.user_name}}</p><a href="#" ng-click="delete_comment($index)">delete</a>
      </div>
    
    </div>
  </div>
  
</div>


  
  
  


<div class="container" ng-show="page === 'home'">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Videos:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="post in posts">
        <li>
          <label for='title'>{{ post.title }}</label>
          <a ui-sref="video({'id': post._id })" tooltip="">{{post.urlid}}</a>
          <label for='user'>{{ post.username }}</label>
            
        </li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
